body{
    margin: 0;
    font-size: 18px;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

main{
    background-color: white;
    grid-column: 2;
    padding: 2rem;
}

form{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
}

form > div{
    padding: 1.5rem;
}