body{
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 2rem;
    height: 100dvh;
}

aside{
    background-color: #FF6600;
    color: white;
    padding: 2rem;
    border-right: black 2px solid;
}

.sidebarline{
    width: 100%;
    height: 2px;
    background-color: white;
}

main{
    padding: 2rem;
}