body{
    margin: 0;
}

aside{
    background-color: #FF6600;
    color: white;
    width: 20%;
    min-height: 100dvh;
}

.content{
    padding: 2rem;
}

.sidebarline {
    width: 100%;
    height: 2px;
    background-color: white;
}

.my-work{
    /* Enable when loggedin.  */
    /* display: none; */
}