body{
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 2rem;
    height: 100dvh;
}

aside{
    background-color: #FF6600;
    color: white;
    padding: 2rem;
    border-right: black 2px solid;
}

.sidebarline {
    width: 100%;
    height: 2px;
    background-color: white;
}

main{
    padding: 2rem;
}

.category h2{
    background-color: #FF6600;
    border: black 2px solid;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.my-work{
    font-size: larger;
    font-weight: bolder;
    border: 2px solid white;
    padding-inline: 1rem;
    border-radius: 12px;
}