body{
    margin: 0;
}

.flex{
    display: flex;
    justify-content: flex-start;
}

.flex-item{
    padding: 5%;
    background-color: lightgray;
    margin-right: 1rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item{
    padding: 5%;
    background-color: lightgray;
    margin: 1rem;
}